* {
	color: #ffffff;
}

body{
	background-color: #2b2b2b;
}

.card{
	background-color: #3b454f;
	color: #ffffff;
}

option{
	color: #000000;
}

.btn{
	background-color: #2b6675;
	color: #ffffff;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}

.valCol{
	align-items: center;
	color: #ffffff;
}

table {
	text-align: center;
}

tr {
	border: 3px solid #2b6675;
}

a {
	color: #00ccff;
}